In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('imdb_top_1000.csv')

In [3]:
movie

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Cast
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,TimRobbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469","TimRobbins,Morgan Freeman,Bob Gunton"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411","Marlon Brando,Al Pacino,James Caan"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444","Christian Bale,Heath Ledger,Aaron Eckhart"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000","Al Pacino,Robert De Niro,Robert Duvall"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000","Henry Fonda,Lee J. Cobb,Martin Balsam"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,"Audrey Hepburn,George Peppard,Patricia Neal"
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,"Elizabeth Taylor,Rock Hudson,James Dean"
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000","Burt Lancaster,Montgomery Clift,Deborah Kerr"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,"Tallulah Bankhead,John Hodiak,Walter Slezak"
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,"Robert Donat,Madeleine Carroll,Lucie Mannheim"

In [4]:
movie = movie[['Series_Title','Genre','Released_Year','Cast','Director','Overview']]

In [5]:
movie

,Series_Title,Genre,Released_Year,Cast,Director,Overview
0,The Shawshank Redemption,Drama,1994,"TimRobbins,Morgan Freeman,Bob Gunton",Frank Darabont,Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",1972,"Marlon Brando,Al Pacino,James Caan",Francis Ford Coppola,An organized crime dynasty's aging patriarch t...
2,The Dark Knight,"Action, Crime, Drama",2008,"Christian Bale,Heath Ledger,Aaron Eckhart",Christopher Nolan,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,"Crime, Drama",1974,"Al Pacino,Robert De Niro,Robert Duvall",Francis Ford Coppola,The early life and career of Vito Corleone in ...
4,12 Angry Men,"Crime, Drama",1957,"Henry Fonda,Lee J. Cobb,Martin Balsam",Sidney Lumet,A jury holdout attempts to prevent a miscarria...
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"Comedy, Drama, Romance",1961,"Audrey Hepburn,George Peppard,Patricia Neal",Blake Edwards,A young New York socialite becomes interested ...
996,Giant,"Drama, Western",1956,"Elizabeth Taylor,Rock Hudson,James Dean",George Stevens,Sprawling epic covering the life of a Texas ca...
997,From Here to Eternity,"Drama, Romance, War",1953,"Burt Lancaster,Montgomery Clift,Deborah Kerr",Fred Zinnemann,"In Hawaii in 1941, a private is cruelly punish..."
998,Lifeboat,"Drama, War",1944,"Tallulah Bankhead,John Hodiak,Walter Slezak",Alfred Hitchcock,Several survivors of a torpedoed merchant ship...
999,The 39 Steps,"Crime, Mystery, Thriller",1935,"Robert Donat,Madeleine Carroll,Lucie Mannheim",Alfred Hitchcock,A man in London tries to help a counter-espion...

In [6]:
movie['Genre'] = movie['Genre'].apply(lambda x:x.split(','))

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\3029711805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['Genre'] = movie['Genre'].apply(lambda x:x.split(','))

In [7]:
movie

,Series_Title,Genre,Released_Year,Cast,Director,Overview
0,The Shawshank Redemption,[Drama],1994,"TimRobbins,Morgan Freeman,Bob Gunton",Frank Darabont,Two imprisoned men bond over a number of years...
1,The Godfather,"[Crime, Drama]",1972,"Marlon Brando,Al Pacino,James Caan",Francis Ford Coppola,An organized crime dynasty's aging patriarch t...
2,The Dark Knight,"[Action, Crime, Drama]",2008,"Christian Bale,Heath Ledger,Aaron Eckhart",Christopher Nolan,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,"[Crime, Drama]",1974,"Al Pacino,Robert De Niro,Robert Duvall",Francis Ford Coppola,The early life and career of Vito Corleone in ...
4,12 Angry Men,"[Crime, Drama]",1957,"Henry Fonda,Lee J. Cobb,Martin Balsam",Sidney Lumet,A jury holdout attempts to prevent a miscarria...
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"[Comedy, Drama, Romance]",1961,"Audrey Hepburn,George Peppard,Patricia Neal",Blake Edwards,A young New York socialite becomes interested ...
996,Giant,"[Drama, Western]",1956,"Elizabeth Taylor,Rock Hudson,James Dean",George Stevens,Sprawling epic covering the life of a Texas ca...
997,From Here to Eternity,"[Drama, Romance, War]",1953,"Burt Lancaster,Montgomery Clift,Deborah Kerr",Fred Zinnemann,"In Hawaii in 1941, a private is cruelly punish..."
998,Lifeboat,"[Drama, War]",1944,"Tallulah Bankhead,John Hodiak,Walter Slezak",Alfred Hitchcock,Several survivors of a torpedoed merchant ship...
999,The 39 Steps,"[Crime, Mystery, Thriller]",1935,"Robert Donat,Madeleine Carroll,Lucie Mannheim",Alfred Hitchcock,A man in London tries to help a counter-espion...

In [8]:
movie['Cast'] = movie['Cast'].apply(lambda x:x.split(','))

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\587007317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['Cast'] = movie['Cast'].apply(lambda x:x.split(','))

In [9]:
movie

,Series_Title,Genre,Released_Year,Cast,Director,Overview
0,The Shawshank Redemption,[Drama],1994,"[TimRobbins, Morgan Freeman, Bob Gunton]",Frank Darabont,Two imprisoned men bond over a number of years...
1,The Godfather,"[Crime, Drama]",1972,"[Marlon Brando, Al Pacino, James Caan]",Francis Ford Coppola,An organized crime dynasty's aging patriarch t...
2,The Dark Knight,"[Action, Crime, Drama]",2008,"[Christian Bale, Heath Ledger, Aaron Eckhart]",Christopher Nolan,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,"[Crime, Drama]",1974,"[Al Pacino, Robert De Niro, Robert Duvall]",Francis Ford Coppola,The early life and career of Vito Corleone in ...
4,12 Angry Men,"[Crime, Drama]",1957,"[Henry Fonda, Lee J. Cobb, Martin Balsam]",Sidney Lumet,A jury holdout attempts to prevent a miscarria...
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"[Comedy, Drama, Romance]",1961,"[Audrey Hepburn, George Peppard, Patricia Neal]",Blake Edwards,A young New York socialite becomes interested ...
996,Giant,"[Drama, Western]",1956,"[Elizabeth Taylor, Rock Hudson, James Dean]",George Stevens,Sprawling epic covering the life of a Texas ca...
997,From Here to Eternity,"[Drama, Romance, War]",1953,"[Burt Lancaster, Montgomery Clift, Deborah Kerr]",Fred Zinnemann,"In Hawaii in 1941, a private is cruelly punish..."
998,Lifeboat,"[Drama, War]",1944,"[Tallulah Bankhead, John Hodiak, Walter Slezak]",Alfred Hitchcock,Several survivors of a torpedoed merchant ship...
999,The 39 Steps,"[Crime, Mystery, Thriller]",1935,"[Robert Donat, Madeleine Carroll, Lucie Mannheim]",Alfred Hitchcock,A man in London tries to help a counter-espion...

In [10]:
movie['Overview'] = movie['Overview'].apply(lambda x:x.split())

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\3079373440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['Overview'] = movie['Overview'].apply(lambda x:x.split())

In [11]:
movie

,Series_Title,Genre,Released_Year,Cast,Director,Overview
0,The Shawshank Redemption,[Drama],1994,"[TimRobbins, Morgan Freeman, Bob Gunton]",Frank Darabont,"[Two, imprisoned, men, bond, over, a, number, ..."
1,The Godfather,"[Crime, Drama]",1972,"[Marlon Brando, Al Pacino, James Caan]",Francis Ford Coppola,"[An, organized, crime, dynasty's, aging, patri..."
2,The Dark Knight,"[Action, Crime, Drama]",2008,"[Christian Bale, Heath Ledger, Aaron Eckhart]",Christopher Nolan,"[When, the, menace, known, as, the, Joker, wre..."
3,The Godfather: Part II,"[Crime, Drama]",1974,"[Al Pacino, Robert De Niro, Robert Duvall]",Francis Ford Coppola,"[The, early, life, and, career, of, Vito, Corl..."
4,12 Angry Men,"[Crime, Drama]",1957,"[Henry Fonda, Lee J. Cobb, Martin Balsam]",Sidney Lumet,"[A, jury, holdout, attempts, to, prevent, a, m..."
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"[Comedy, Drama, Romance]",1961,"[Audrey Hepburn, George Peppard, Patricia Neal]",Blake Edwards,"[A, young, New, York, socialite, becomes, inte..."
996,Giant,"[Drama, Western]",1956,"[Elizabeth Taylor, Rock Hudson, James Dean]",George Stevens,"[Sprawling, epic, covering, the, life, of, a, ..."
997,From Here to Eternity,"[Drama, Romance, War]",1953,"[Burt Lancaster, Montgomery Clift, Deborah Kerr]",Fred Zinnemann,"[In, Hawaii, in, 1941,, a, private, is, cruell..."
998,Lifeboat,"[Drama, War]",1944,"[Tallulah Bankhead, John Hodiak, Walter Slezak]",Alfred Hitchcock,"[Several, survivors, of, a, torpedoed, merchan..."
999,The 39 Steps,"[Crime, Mystery, Thriller]",1935,"[Robert Donat, Madeleine Carroll, Lucie Mannheim]",Alfred Hitchcock,"[A, man, in, London, tries, to, help, a, count..."

In [12]:
movie['Released_Year'] = movie['Released_Year'].apply(lambda x:x.split())

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\2101417302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['Released_Year'] = movie['Released_Year'].apply(lambda x:x.split())

In [13]:
movie

,Series_Title,Genre,Released_Year,Cast,Director,Overview
0,The Shawshank Redemption,[Drama],[1994],"[TimRobbins, Morgan Freeman, Bob Gunton]",Frank Darabont,"[Two, imprisoned, men, bond, over, a, number, ..."
1,The Godfather,"[Crime, Drama]",[1972],"[Marlon Brando, Al Pacino, James Caan]",Francis Ford Coppola,"[An, organized, crime, dynasty's, aging, patri..."
2,The Dark Knight,"[Action, Crime, Drama]",[2008],"[Christian Bale, Heath Ledger, Aaron Eckhart]",Christopher Nolan,"[When, the, menace, known, as, the, Joker, wre..."
3,The Godfather: Part II,"[Crime, Drama]",[1974],"[Al Pacino, Robert De Niro, Robert Duvall]",Francis Ford Coppola,"[The, early, life, and, career, of, Vito, Corl..."
4,12 Angry Men,"[Crime, Drama]",[1957],"[Henry Fonda, Lee J. Cobb, Martin Balsam]",Sidney Lumet,"[A, jury, holdout, attempts, to, prevent, a, m..."
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"[Comedy, Drama, Romance]",[1961],"[Audrey Hepburn, George Peppard, Patricia Neal]",Blake Edwards,"[A, young, New, York, socialite, becomes, inte..."
996,Giant,"[Drama, Western]",[1956],"[Elizabeth Taylor, Rock Hudson, James Dean]",George Stevens,"[Sprawling, epic, covering, the, life, of, a, ..."
997,From Here to Eternity,"[Drama, Romance, War]",[1953],"[Burt Lancaster, Montgomery Clift, Deborah Kerr]",Fred Zinnemann,"[In, Hawaii, in, 1941,, a, private, is, cruell..."
998,Lifeboat,"[Drama, War]",[1944],"[Tallulah Bankhead, John Hodiak, Walter Slezak]",Alfred Hitchcock,"[Several, survivors, of, a, torpedoed, merchan..."
999,The 39 Steps,"[Crime, Mystery, Thriller]",[1935],"[Robert Donat, Madeleine Carroll, Lucie Mannheim]",Alfred Hitchcock,"[A, man, in, London, tries, to, help, a, count..."

In [14]:
movie['Director'] = movie['Director'].apply(lambda x:x.split(" "))

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\762366358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['Director'] = movie['Director'].apply(lambda x:x.split(" "))

In [15]:
movie

,Series_Title,Genre,Released_Year,Cast,Director,Overview
0,The Shawshank Redemption,[Drama],[1994],"[TimRobbins, Morgan Freeman, Bob Gunton]","[Frank, Darabont]","[Two, imprisoned, men, bond, over, a, number, ..."
1,The Godfather,"[Crime, Drama]",[1972],"[Marlon Brando, Al Pacino, James Caan]","[Francis, Ford, Coppola]","[An, organized, crime, dynasty's, aging, patri..."
2,The Dark Knight,"[Action, Crime, Drama]",[2008],"[Christian Bale, Heath Ledger, Aaron Eckhart]","[Christopher, Nolan]","[When, the, menace, known, as, the, Joker, wre..."
3,The Godfather: Part II,"[Crime, Drama]",[1974],"[Al Pacino, Robert De Niro, Robert Duvall]","[Francis, Ford, Coppola]","[The, early, life, and, career, of, Vito, Corl..."
4,12 Angry Men,"[Crime, Drama]",[1957],"[Henry Fonda, Lee J. Cobb, Martin Balsam]","[Sidney, Lumet]","[A, jury, holdout, attempts, to, prevent, a, m..."
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"[Comedy, Drama, Romance]",[1961],"[Audrey Hepburn, George Peppard, Patricia Neal]","[Blake, Edwards]","[A, young, New, York, socialite, becomes, inte..."
996,Giant,"[Drama, Western]",[1956],"[Elizabeth Taylor, Rock Hudson, James Dean]","[George, Stevens]","[Sprawling, epic, covering, the, life, of, a, ..."
997,From Here to Eternity,"[Drama, Romance, War]",[1953],"[Burt Lancaster, Montgomery Clift, Deborah Kerr]","[Fred, Zinnemann]","[In, Hawaii, in, 1941,, a, private, is, cruell..."
998,Lifeboat,"[Drama, War]",[1944],"[Tallulah Bankhead, John Hodiak, Walter Slezak]","[Alfred, Hitchcock]","[Several, survivors, of, a, torpedoed, merchan..."
999,The 39 Steps,"[Crime, Mystery, Thriller]",[1935],"[Robert Donat, Madeleine Carroll, Lucie Mannheim]","[Alfred, Hitchcock]","[A, man, in, London, tries, to, help, a, count..."

In [16]:
movie['Tags'] = movie['Genre']+movie['Cast']+movie['Released_Year']+movie['Overview']+movie['Director']

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\544699862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['Tags'] = movie['Genre']+movie['Cast']+movie['Released_Year']+movie['Overview']+movie['Director']

In [17]:
movie

,Series_Title,Genre,Released_Year,Cast,Director,Overview,Tags
0,The Shawshank Redemption,[Drama],[1994],"[TimRobbins, Morgan Freeman, Bob Gunton]","[Frank, Darabont]","[Two, imprisoned, men, bond, over, a, number, ...","[Drama, TimRobbins, Morgan Freeman, Bob Gunton..."
1,The Godfather,"[Crime, Drama]",[1972],"[Marlon Brando, Al Pacino, James Caan]","[Francis, Ford, Coppola]","[An, organized, crime, dynasty's, aging, patri...","[Crime, Drama, Marlon Brando, Al Pacino, Jame..."
2,The Dark Knight,"[Action, Crime, Drama]",[2008],"[Christian Bale, Heath Ledger, Aaron Eckhart]","[Christopher, Nolan]","[When, the, menace, known, as, the, Joker, wre...","[Action, Crime, Drama, Christian Bale, Heath..."
3,The Godfather: Part II,"[Crime, Drama]",[1974],"[Al Pacino, Robert De Niro, Robert Duvall]","[Francis, Ford, Coppola]","[The, early, life, and, career, of, Vito, Corl...","[Crime, Drama, Al Pacino, Robert De Niro, Rob..."
4,12 Angry Men,"[Crime, Drama]",[1957],"[Henry Fonda, Lee J. Cobb, Martin Balsam]","[Sidney, Lumet]","[A, jury, holdout, attempts, to, prevent, a, m...","[Crime, Drama, Henry Fonda, Lee J. Cobb, Mart..."
...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"[Comedy, Drama, Romance]",[1961],"[Audrey Hepburn, George Peppard, Patricia Neal]","[Blake, Edwards]","[A, young, New, York, socialite, becomes, inte...","[Comedy, Drama, Romance, Audrey Hepburn, Geo..."
996,Giant,"[Drama, Western]",[1956],"[Elizabeth Taylor, Rock Hudson, James Dean]","[George, Stevens]","[Sprawling, epic, covering, the, life, of, a, ...","[Drama, Western, Elizabeth Taylor, Rock Hudso..."
997,From Here to Eternity,"[Drama, Romance, War]",[1953],"[Burt Lancaster, Montgomery Clift, Deborah Kerr]","[Fred, Zinnemann]","[In, Hawaii, in, 1941,, a, private, is, cruell...","[Drama, Romance, War, Burt Lancaster, Montgo..."
998,Lifeboat,"[Drama, War]",[1944],"[Tallulah Bankhead, John Hodiak, Walter Slezak]","[Alfred, Hitchcock]","[Several, survivors, of, a, torpedoed, merchan...","[Drama, War, Tallulah Bankhead, John Hodiak, ..."
999,The 39 Steps,"[Crime, Mystery, Thriller]",[1935],"[Robert Donat, Madeleine Carroll, Lucie Mannheim]","[Alfred, Hitchcock]","[A, man, in, London, tries, to, help, a, count...","[Crime, Mystery, Thriller, Robert Donat, Mad..."

In [18]:
new_df = movie[['Series_Title','Tags']]

In [19]:
new_df

,Series_Title,Tags
0,The Shawshank Redemption,"[Drama, TimRobbins, Morgan Freeman, Bob Gunton..."
1,The Godfather,"[Crime, Drama, Marlon Brando, Al Pacino, Jame..."
2,The Dark Knight,"[Action, Crime, Drama, Christian Bale, Heath..."
3,The Godfather: Part II,"[Crime, Drama, Al Pacino, Robert De Niro, Rob..."
4,12 Angry Men,"[Crime, Drama, Henry Fonda, Lee J. Cobb, Mart..."
...,...,...
995,Breakfast at Tiffany's,"[Comedy, Drama, Romance, Audrey Hepburn, Geo..."
996,Giant,"[Drama, Western, Elizabeth Taylor, Rock Hudso..."
997,From Here to Eternity,"[Drama, Romance, War, Burt Lancaster, Montgo..."
998,Lifeboat,"[Drama, War, Tallulah Bankhead, John Hodiak, ..."
999,The 39 Steps,"[Crime, Mystery, Thriller, Robert Donat, Mad..."

In [20]:
new_df['Tags']=new_df['Tags'].apply(lambda x: " ".join(x))

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\2327826682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Tags']=new_df['Tags'].apply(lambda x: " ".join(x))

In [21]:
new_df['Tags'][0]

'Drama TimRobbins Morgan Freeman Bob Gunton 1994 Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency. Frank Darabont'

In [22]:
new_df['Tags'] = new_df['Tags'].apply(lambda x:x.lower())

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\1574902671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Tags'] = new_df['Tags'].apply(lambda x:x.lower())

In [23]:
new_df

,Series_Title,Tags
0,The Shawshank Redemption,drama timrobbins morgan freeman bob gunton 199...
1,The Godfather,crime drama marlon brando al pacino james caa...
2,The Dark Knight,action crime drama christian bale heath ledg...
3,The Godfather: Part II,crime drama al pacino robert de niro robert d...
4,12 Angry Men,crime drama henry fonda lee j. cobb martin ba...
...,...,...
995,Breakfast at Tiffany's,comedy drama romance audrey hepburn george p...
996,Giant,drama western elizabeth taylor rock hudson ja...
997,From Here to Eternity,drama romance war burt lancaster montgomery ...
998,Lifeboat,drama war tallulah bankhead john hodiak walte...
999,The 39 Steps,crime mystery thriller robert donat madelein...

In [24]:
import nltk

In [25]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [26]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [27]:
new_df['Tags'] = new_df['Tags'].apply(stem)

C:\Users\Saradra\AppData\Local\Temp\ipykernel_11964\634297125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Tags'] = new_df['Tags'].apply(stem)

In [28]:
new_df['Tags'][1]

"crime drama marlon brando al pacino jame caan 1972 an organ crime dynasty' age patriarch transfer control of hi clandestin empir to hi reluct son. franci ford coppola"

In [29]:
new_df['Tags'][4]

'crime drama henri fonda lee j. cobb martin balsam 1957 a juri holdout attempt to prevent a miscarriag of justic by forc hi colleagu to reconsid the evidence. sidney lumet'

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words='english')

In [31]:
vectors = cv.fit_transform(new_df['Tags']).toarray()

In [32]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [33]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'ömer', 'özberk', 'özge'], dtype=object)

In [34]:
ps.stem('loved')

'love'

In [35]:
ps.stem('dangerous')

'danger'

In [36]:
stem("crime  drama marlon brando al pacino james caan 1972 an organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son. francis ford coppola")

"crime drama marlon brando al pacino jame caan 1972 an organ crime dynasty' age patriarch transfer control of hi clandestin empir to hi reluct son. franci ford coppola"

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vectors)

In [39]:
similarity[0]

array([1.        , 0.04536092, 0.04454354, 0.03928371, 0.0571662 ,
       0.09622504, 0.09829464, 0.04536092, 0.        , 0.05555556,
       0.04622502, 0.08466675, 0.05025189, 0.04714045, 0.        ,
       0.03300492, 0.        , 0.05407381, 0.04166667, 0.04303315,
       0.10050378, 0.05025189, 0.07106691, 0.        , 0.04914732,
       0.13608276, 0.04233338, 0.15075567, 0.04376881, 0.        ,
       0.04376881, 0.05025189, 0.11111111, 0.03984095, 0.04714045,
       0.05270463, 0.04811252, 0.04914732, 0.1028689 , 0.04914732,
       0.05143445, 0.        , 0.08206099, 0.10050378, 0.        ,
       0.04376881, 0.04811252, 0.        , 0.        , 0.        ,
       0.04714045, 0.04622502, 0.04376881, 0.04914732, 0.04454354,
       0.04166667, 0.05555556, 0.04811252, 0.04303315, 0.03928371,
       0.        , 0.        , 0.04811252, 0.        , 0.04622502,
       0.04454354, 0.        , 0.05025189, 0.14142136, 0.        ,
       0.        , 0.04622502, 0.04714045, 0.04536092, 0.04811252,
       0.        , 0.05143445, 0.04914732, 0.        , 0.05270463,
       0.05555556, 0.        , 0.04714045, 0.0410305 , 0.08333333,
       0.05270463, 0.04811252, 0.05143445, 0.03268602, 0.04914732,
       0.0571662 , 0.04303315, 0.05892557, 0.03928371, 0.05407381,
       0.        , 0.        , 0.05555556, 0.05143445, 0.0571662 ,
       0.04303315, 0.        , 0.04166667, 0.05143445, 0.04536092,
       0.04811252, 0.        , 0.04536092, 0.0571662 , 0.        ,
       0.0571662 , 0.03984095, 0.05555556, 0.10540926, 0.        ,
       0.        , 0.04536092, 0.0404226 , 0.        , 0.        ,
       0.        , 0.05555556, 0.0571662 , 0.04303315, 0.04811252,
       0.        , 0.04166667, 0.05143445, 0.04376881, 0.09245003,
       0.05407381, 0.04233338, 0.04914732, 0.05270463, 0.04914732,
       0.04233338, 0.05270463, 0.06085806, 0.0404226 , 0.05143445,
       0.        , 0.05270463, 0.        , 0.04166667, 0.04233338,
       0.        , 0.05025189, 0.0404226 , 0.0404226 , 0.04622502,
       0.05143445, 0.        , 0.04622502, 0.0404226 , 0.05407381,
       0.        , 0.04714045, 0.04714045, 0.        , 0.05143445,
       0.05270463, 0.        , 0.04811252, 0.10814761, 0.04714045,
       0.04233338, 0.05025189, 0.125     , 0.        , 0.04454354,
       0.        , 0.        , 0.04233338, 0.04914732, 0.11433239,
       0.05025189, 0.09829464, 0.        , 0.        , 0.08908708,
       0.09829464, 0.04811252, 0.04914732, 0.        , 0.05270463,
       0.05143445, 0.11433239, 0.        , 0.05892557, 0.04811252,
       0.05270463, 0.04914732, 0.04914732, 0.05270463, 0.        ,
       0.05555556, 0.0571662 , 0.04914732, 0.05555556, 0.05025189,
       0.05407381, 0.0404226 , 0.04233338, 0.04811252, 0.05892557,
       0.        , 0.04914732, 0.03984095, 0.05892557, 0.        ,
       0.04811252, 0.04376881, 0.03984095, 0.        , 0.06085806,
       0.04536092, 0.05555556, 0.03874921, 0.04376881, 0.04454354,
       0.        , 0.05143445, 0.04914732, 0.        , 0.04233338,
       0.04166667, 0.04622502, 0.06537205, 0.10814761, 0.03823596,
       0.        , 0.03553345, 0.04454354, 0.05270463, 0.15075567,
       0.04914732, 0.04811252, 0.05407381, 0.05270463, 0.04166667,
       0.04376881, 0.05025189, 0.        , 0.08466675, 0.04914732,
       0.        , 0.05270463, 0.04811252, 0.05270463, 0.04811252,
       0.05407381, 0.        , 0.        , 0.12309149, 0.05407381,
       0.04454354, 0.05025189, 0.10814761, 0.04536092, 0.04622502,
       0.10814761, 0.0860663 , 0.        , 0.09622504, 0.04536092,
       0.05143445, 0.05025189, 0.04714045, 0.04536092, 0.09072184,
       0.        , 0.        , 0.10540926, 0.05143445, 0.06537205,
       0.        , 0.04811252, 0.        , 0.04811252, 0.04622502,
       0.05407381, 0.04811252, 0.03823596, 0.05270463, 0.04714045,
       0.04914732, 0.05407381, 0.04914732, 0.05407381, 0.06299408,
       0.05407381, 0.05892557, 0.0571662 , 0.05892557, 0.04454354,
       0.04714045, 0.04166667, 0.04811252, 0.04454354, 0.05270463,
       0.04811252, 0.05555556, 0.0571662 , 0.04914732, 0.04536092,
       0.05025189, 0.09829464, 0.04166667, 0.04714045, 0.        ,
       0.05555556, 0.14433757, 0.04622502, 0.0942809 , 0.04536092,
       0.14142136, 0.04714045, 0.05143445, 0.        , 0.05270463,
       0.        , 0.        , 0.06537205, 0.04811252, 0.05407381,
       0.        , 0.        , 0.04914732, 0.04303315, 0.04622502,
       0.        , 0.05270463, 0.03681051, 0.04303315, 0.05407381,
       0.10050378, 0.04811252, 0.        , 0.05270463, 0.        ,
       0.08466675, 0.04622502, 0.04536092, 0.05025189, 0.06085806,
       0.04536092, 0.04233338, 0.04376881, 0.        , 0.05025189,
       0.10050378, 0.03823596, 0.05270463, 0.06085806, 0.05407381,
       0.05270463, 0.04622502, 0.        , 0.05555556, 0.04811252,
       0.05025189, 0.05270463, 0.        , 0.04914732, 0.04811252,
       0.04454354, 0.        , 0.        , 0.07749843, 0.        ,
       0.05143445, 0.0410305 , 0.05143445, 0.05270463, 0.03438071,
       0.04536092, 0.        , 0.05025189, 0.        , 0.04303315,
       0.04622502, 0.04811252, 0.04622502, 0.05407381, 0.05025189,
       0.05270463, 0.        , 0.0571662 , 0.05025189, 0.        ,
       0.        , 0.11952286, 0.04376881, 0.        , 0.        ,
       0.        , 0.        , 0.05270463, 0.0571662 , 0.        ,
       0.05143445, 0.        , 0.04376881, 0.05407381, 0.04914732,
       0.        , 0.        , 0.04914732, 0.07856742, 0.05025189,
       0.        , 0.05025189, 0.04166667, 0.05025189, 0.        ,
       0.        , 0.03928371, 0.        , 0.04622502, 0.        ,
       0.        , 0.05143445, 0.04714045, 0.05270463, 0.04233338,
       0.05407381, 0.        , 0.05270463, 0.04914732, 0.05270463,
       0.04303315, 0.04914732, 0.0571662 , 0.05892557, 0.05270463,
       0.05407381, 0.04376881, 0.04454354, 0.04914732, 0.03874921,
       0.04622502, 0.04914732, 0.04811252, 0.05270463, 0.04914732,
       0.04622502, 0.        , 0.05555556, 0.09829464, 0.        ,
       0.0942809 , 0.03874921, 0.05555556, 0.05555556, 0.04714045,
       0.03984095, 0.        , 0.04811252, 0.        , 0.05555556,
       0.        , 0.05407381, 0.04914732, 0.0571662 , 0.05143445,
       0.07106691, 0.04914732, 0.04811252, 0.05143445, 0.        ,
       0.04714045, 0.03823596, 0.04811252, 0.04536092, 0.04536092,
       0.05025189, 0.05143445, 0.        , 0.04914732, 0.04622502,
       0.11111111, 0.05407381, 0.        , 0.07968191, 0.04714045,
       0.06537205, 0.03594426, 0.05892557, 0.        , 0.04914732,
       0.04714045, 0.06085806, 0.07106691, 0.        , 0.04166667,
       0.04303315, 0.04914732, 0.03928371, 0.04376881, 0.        ,
       0.0404226 , 0.05407381, 0.        , 0.        , 0.09245003,
       0.10540926, 0.        , 0.        , 0.11433239, 0.0404226 ,
       0.        , 0.        , 0.05270463, 0.04811252, 0.04536092,
       0.04376881, 0.        , 0.03874921, 0.05025189, 0.10814761,
       0.04454354, 0.05407381, 0.        , 0.04303315, 0.04622502,
       0.04622502, 0.04536092, 0.0404226 , 0.04303315, 0.05270463,
       0.        , 0.04454354, 0.        , 0.04454354, 0.12700013,
       0.        , 0.09072184, 0.04536092, 0.05555556, 0.        ,
       0.        , 0.05143445, 0.04622502, 0.        , 0.        ,
       0.04454354, 0.05143445, 0.04454354, 0.11785113, 0.05270463,
       0.05025189, 0.04536092, 0.04811252, 0.05025189, 0.0571662 ,
       0.03823596, 0.        , 0.04303315, 0.04622502, 0.05025189,
       0.        , 0.05407381, 0.        , 0.05025189, 0.        ,
       0.        , 0.        , 0.04454354, 0.        , 0.        ,
       0.04536092, 0.05892557, 0.04622502, 0.04714045, 0.04914732,
       0.04811252, 0.        , 0.04454354, 0.        , 0.04303315,
       0.0571662 , 0.04233338, 0.        , 0.        , 0.04914732,
       0.04536092, 0.        , 0.04914732, 0.03367175, 0.0410305 ,
       0.04166667, 0.        , 0.04536092, 0.03681051, 0.04811252,
       0.05270463, 0.        , 0.04714045, 0.05143445, 0.        ,
       0.05025189, 0.04622502, 0.05143445, 0.04622502, 0.04376881,
       0.04376881, 0.04233338, 0.05143445, 0.        , 0.04376881,
       0.04811252, 0.10050378, 0.04811252, 0.04811252, 0.04303315,
       0.        , 0.04303315, 0.04811252, 0.04536092, 0.06299408,
       0.04376881, 0.05025189, 0.0860663 , 0.        , 0.04303315,
       0.05025189, 0.05270463, 0.05143445, 0.05407381, 0.04454354,
       0.05270463, 0.04166667, 0.04536092, 0.        , 0.        ,
       0.03681051, 0.04622502, 0.04376881, 0.04914732, 0.03774257,
       0.04454354, 0.03928371, 0.08908708, 0.04811252, 0.04811252,
       0.        , 0.04536092, 0.05270463, 0.        , 0.05025189,
       0.04914732, 0.        , 0.04811252, 0.04914732, 0.04811252,
       0.04166667, 0.04454354, 0.07968191, 0.04536092, 0.05143445,
       0.04714045, 0.04454354, 0.09072184, 0.04536092, 0.04914732,
       0.05143445, 0.        , 0.05555556, 0.04914732, 0.04536092,
       0.04536092, 0.05270463, 0.05143445, 0.04714045, 0.04714045,
       0.        , 0.05025189, 0.        , 0.        , 0.        ,
       0.1028689 , 0.        , 0.05555556, 0.11433239, 0.04811252,
       0.        , 0.05407381, 0.04811252, 0.        , 0.07968191,
       0.04714045, 0.        , 0.        , 0.04914732, 0.        ,
       0.05555556, 0.04811252, 0.14744196, 0.        , 0.04811252,
       0.        , 0.05555556, 0.        , 0.04811252, 0.        ,
       0.05892557, 0.0571662 , 0.        , 0.03823596, 0.04303315,
       0.04914732, 0.04233338, 0.        , 0.04914732, 0.        ,
       0.        , 0.04914732, 0.        , 0.04914732, 0.04914732,
       0.05892557, 0.03984095, 0.        , 0.05025189, 0.04536092,
       0.        , 0.03681051, 0.        , 0.04622502, 0.05270463,
       0.        , 0.05555556, 0.03774257, 0.04914732, 0.04454354,
       0.04914732, 0.05025189, 0.        , 0.04811252, 0.04914732,
       0.        , 0.03774257, 0.04914732, 0.        , 0.        ,
       0.05143445, 0.        , 0.10050378, 0.04376881, 0.        ,
       0.        , 0.04376881, 0.03874921, 0.07647191, 0.04811252,
       0.        , 0.        , 0.09622504, 0.04454354, 0.05270463,
       0.06085806, 0.        , 0.04454354, 0.04454354, 0.04622502,
       0.05555556, 0.04811252, 0.0410305 , 0.12909944, 0.05143445,
       0.04811252, 0.        , 0.04811252, 0.11433239, 0.0410305 ,
       0.05143445, 0.        , 0.        , 0.0571662 , 0.0404226 ,
       0.1028689 , 0.        , 0.0942809 , 0.04914732, 0.05025189,
       0.05270463, 0.04622502, 0.05025189, 0.04454354, 0.05025189,
       0.04622502, 0.09072184, 0.0410305 , 0.05143445, 0.03874921,
       0.        , 0.        , 0.        , 0.0942809 , 0.        ,
       0.        , 0.08908708, 0.04811252, 0.06085806, 0.04714045,
       0.05025189, 0.04714045, 0.        , 0.        , 0.05025189,
       0.04811252, 0.05407381, 0.0410305 , 0.05270463, 0.0860663 ,
       0.0860663 , 0.05555556, 0.05143445, 0.04914732, 0.10050378,
       0.04622502, 0.05025189, 0.        , 0.05892557, 0.1028689 ,
       0.04914732, 0.04622502, 0.04376881, 0.05270463, 0.        ,
       0.05407381, 0.05892557, 0.04914732, 0.05143445, 0.04454354,
       0.        , 0.04714045, 0.05025189, 0.05407381, 0.        ,
       0.        , 0.04233338, 0.        , 0.        , 0.        ,
       0.04914732, 0.        , 0.04914732, 0.        , 0.09829464,
       0.05025189, 0.04622502, 0.05025189, 0.        , 0.        ,
       0.        , 0.        , 0.05892557, 0.04454354, 0.05025189,
       0.0571662 , 0.05143445, 0.04233338, 0.0571662 , 0.05407381,
       0.        , 0.05407381, 0.05270463, 0.05407381, 0.        ,
       0.04714045, 0.04714045, 0.05025189, 0.04811252, 0.04622502,
       0.        , 0.        , 0.05025189, 0.0571662 , 0.04376881,
       0.05892557, 0.09072184, 0.04536092, 0.09622504, 0.04714045,
       0.04714045, 0.05270463, 0.        , 0.04714045, 0.04914732,
       0.0347524 , 0.0410305 , 0.        , 0.04536092, 0.04914732,
       0.0404226 , 0.04536092, 0.0404226 , 0.04714045, 0.        ,
       0.        , 0.04454354, 0.        , 0.04536092, 0.05025189,
       0.05143445, 0.        , 0.04233338, 0.        , 0.04376881,
       0.04303315, 0.0410305 , 0.        , 0.04454354, 0.        ,
       0.04536092, 0.05407381, 0.10540926, 0.04622502, 0.        ,
       0.        , 0.04376881, 0.13867505, 0.04233338, 0.04622502,
       0.04714045, 0.04714045, 0.        , 0.11433239, 0.04303315,
       0.04376881, 0.05270463, 0.        , 0.0372678 , 0.05407381,
       0.07856742, 0.04536092, 0.04233338, 0.04811252, 0.04166667,
       0.05143445, 0.04233338, 0.03774257, 0.05143445, 0.1028689 ,
       0.0571662 , 0.04914732, 0.        , 0.        , 0.04714045,
       0.05143445, 0.        , 0.08908708, 0.0404226 , 0.05407381,
       0.04811252, 0.        , 0.05025189, 0.10050378, 0.        ,
       0.04303315, 0.        , 0.04622502, 0.        , 0.04454354,
       0.05025189, 0.04622502, 0.11785113, 0.05270463, 0.        ,
       0.        , 0.05143445, 0.        , 0.        , 0.04166667,
       0.09829464, 0.        , 0.05407381, 0.04914732, 0.        ,
       0.0410305 , 0.03874921, 0.        , 0.        , 0.04811252,
       0.04233338, 0.04536092, 0.05143445, 0.04914732, 0.05025189,
       0.05025189, 0.        , 0.        , 0.05407381, 0.        ,
       0.04536092, 0.05270463, 0.04454354, 0.04622502, 0.        ])

In [40]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(27, 0.15075567228888181),
 (234, 0.15075567228888181),
 (697, 0.14744195615489716),
 (311, 0.14433756729740646),
 (68, 0.14142135623730953)]

In [41]:
def recommend(movie):
    movie_index = new_df[new_df['Series_Title']== movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].Series_Title)

In [42]:
recommend('The Shawshank Redemption')

Se7en
Million Dollar Baby
Cabaret
The Shop Around the Corner
Oldeuboi

In [43]:
import pickle

In [44]:
pickle.dump(new_df, open('Backend_System/movie_list.pkl','wb'))
pickle.dump(similarity, open('Backend_System/similarity.pkl','wb'))